:root {
  --gz-clr-primary: #FF9839;
  --gz-clr-success: #29C226;
  --gz-clr-danger: #FA3939;
  --gz-clr-warning: #FFCE4F;
  --gz-clr-info: #5398FF;
  --gz-clr-white: #FFFFFF;
  --gz-clr-mute: #7D7781;
  --gz-clr-dark: #120C17;

  --gz-blur-white-7: #FFFFFF12;
  --gz-blur-white-5: #FFFFFF0D;
  --gz-blur-white-3: #FFFFFF08;
  --gz-blur-success-4: #29C22633;
  --gz-blur-info-4: #5193F633;
  --gz-blur-warning-4: #F6C74D33;
  --gz-blur-danger-4: #F2383833;
  --gz-blur-dark-50: #0E091380;
  --gz-blur-mute-20: #27212c;
  --gz-blur-mute-60: #7D778199;

  --gz-space-2xs: 10px;
  --gz-space-xs: 15px;
  --gz-space-sm: 20px;
  --gz-space-md: 25px;
  --gz-space-lg: 40px;
  --gz-space-xl: 60px;

  --gz-transition: 200ms ease-in-out all;

}
